

      /* Add padding-top to .container to avoid overlap with navbar */
    /*  .container {
          background: var(--card-background);
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
          width: auto;
          max-width: auto;
          padding: 20px;
          text-align: center;
          margin-top: 60px; 
      }  */

     /* body {
          font-family: Arial, sans-serif;
          background-color: var(--background);
          margin: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          height: 100vh;
      }

      h1 {
          color: var(--color);
      } */

      .button-container {
          margin: 20px 0;
      } 

      button {
          background-color: #007860;
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          margin: auto;
          margin-block: 0.5%;
          font-size: 16px;


      }

     /* button:hover {
          background-color: #0056b3;
      } */

      .prayer-times ul {
          list-style-type: none;
          padding: 0;
      }

      .prayer-times li {
          background: #f9f9f9;
          border: 1px solid #ddd;
          margin: 5px 0;
          padding: 10px;
          border-radius: 5px;
          font-size: 18px;
          color: #333;
      }

      #times-tomorrow {
          display: none; /* Hide tomorrow's times initially */
      }

       /* .footer {
          background: var(--card-background);
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
          width: 90%;
          max-width: 600px;
          padding: 20px;
          text-align: center;
          gap: 0.2rem;
          margin: 20px auto; /* Center the footer and add some margin */
        /*  display: flex;
          justify-content: center;
          align-items: center;
          margin-top: flex; /* Pushes the footer to the bottom */
   /*   }